.hero-heading {
  font-size: 400%;
}

.contact-heading {
  font-size: 400%;
}

@media screen and (min-width: 1000px) {
  .hero-heading {
    font-size: 500%;
  }
}

@media screen and (min-width: 1400px) {
  .hero-heading {
    font-size: 600%;
  }
}
