.portrait {
  height: 100%;
  width: 100%;
  object-fit: contain;
  mix-blend-mode: luminosity;
  // object-position: top;
}

//

// .portrait-bg {
//   background-image: url(../../images/2016-mailand-rst-portrait.jpg);
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-clip: padding-box;
//   box-shadow: inset 1px 10px 10px #141414, inset -1px -10px 10px #141414,
//     10px 1px 10px #141414, -10px -1px 10px #141414;
//     border-radius: 30px;
// }

// .backdrop-layer {
//   height: 100%;
//   width: 100%;
//   background-color: transparent;
//   position: absolute;
//   backdrop-filter: grayscale(100%);
// }

// .bg-design {
//   position: absolute;
//   left: -30%;
//   top: 60%;
//   z-index: -1;
//   width: 90%;
//   object-fit: contain;
//   transform: rotate(90deg);
//   filter: opacity(80%) blur(2px);
// }
