a {
  color: white;
  position: relative;
}

a:hover {
  color: white;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.link:hover {
  color: white;
}

.link-effect::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--text-accent-three);
  bottom: 5px;
  right: 0;
  transition: width 150ms linear;
}

.link-effect:hover::before {
  width: 100%;
}